body {
	font-family: verdana;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 10rem;
}

th {
	border: solid 1px black;
	font-weight: bold;
	cursor: pointer;
}

td {
	margin: 0;
	border: solid 1px black;
}

